
/* Hide scrollbar */
::-webkit-scrollbar {
        width: 0px;
      }

/* Estilo de tabs */

.nav-tabs .nav-link {
margin-bottom: -1px;
background: 0 0;
border: 0px solid transparent;
border-top-left-radius: 0.25rem;
border-top-right-radius: 0.25rem;
}

.nav-link {
display: block;
padding: 0.5rem 1rem;
color: #495057;
text-decoration: none;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
color: #495057;
background-color: #fff;
border-width: 1px 0 3px 0;
border-color: white white #0dcaf0;
border-style: solid;
}

.nav-fill .nav-item, .nav-fill>.nav-link {
flex: 1 1 auto;
text-align: center;
}

.nav-tabs .nav-link:hover {
color: #495057;
background-color: #fff;
border-width: 1px 0 3px 0;
border-color: white white #0dcaf0;
border-style: solid;
}


/* Accordion */
.accordion-button {
background-color: white;
box-shadow: 0;
}

.accordion-button:not(.collapsed) {
color: black;
background-color: #eee;
box-shadow: 0;
/* box-shadow: inset 0 -1px 0 #17a2b8(0 0 0 / 13%); */
}

.accordion-button:focus {
box-shadow: none;
border-color: rgba(0,0,0,.125);
}

.accordion-button:not(.collapsed)::after {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    }

/* 
.nav-tabs {
border-bottom: 1px solid #ddd;
}


.nav-tabs .nav-item {
margin-bottom: -1px;
}

.nav-tabs .nav-link {
border: 1px solid transparent;
border-top-left-radius: 0.25rem;
border-top-right-radius: 0.25rem;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: white white #ddd;
}

.nav-tabs .nav-link.disabled {
color: #868e96;
background-color: transparent;
border-color: transparent;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
color: #495057;
background-color: #fff;

border-width: 1px 0 3px 0;
border-color: white white #17a2b8;
border-style: solid;
}

.nav-tabs .dropdown-menu {
margin-top: -1px;
border-top-left-radius: 0;
border-top-right-radius: 0;
} */


/* Texto */
.justified {
text-align: justify;
text-justify: inter-word;
}


/* Imágenes */
.cropcircle{
        object-fit: cover;
        border-radius: 50%;
        height: 250px;
        width: 250px;
}



/* Estilo de hipervínculos */
a:link {
color: rgb(100, 100, 100);
background-color: transparent;
text-decoration: none;
}

a:visited {
color: rgb(100,100,100);
background-color: transparent;
text-decoration: none;
}

a:hover {
color: #ddd;
background-color: transparent;
text-decoration: underline;
}

a:active {
color: #17a2b8;
background-color: transparent;
text-decoration: underline;
}


/* Estilo botones */
button {
        cursor: pointer;
}

/* Estilo de íconos */
.icon-stack {
display: -webkit-inline-box;
display: inline-flex;
-webkit-box-pack: center;
        justify-content: center;
-webkit-box-align: center;
        align-items: center;
border-radius: 100%;
height: 2rem;
width: 2rem;
font-size: 1rem;
background-color: #eff3f9;
}